# nginx-proxy vars
NGINX_FQDN=craftech-example.duckdns.org
NGINX_CERT=certificado.crt
NGINX_KEY=clave_privada.key
NGINX_CERT_CONTENT=
NGINX_KEY_CONTENT=

# frontend vars
REACT_APP_API_SERVER=https://craftech-example.duckdns.org/api/

# backend vars
SECRET_KEY=
DEBUG=1
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:3000 http://127.0.0.1:3000

# database vars
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=core.example
SQL_USER=user.example
SQL_PASSWORD=password.example
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
